.custom-bg-red{
	background-color:red
}

.custom-bg-yellow{
	background-color:yellow
}

.custom-bg-blue{
	background-color:blue
}


.custom-bg-dark-green{
	background-color:#34495E	
}

.custom-bg-light-green{
	background-color:#1abc9c
}


.custom-color-light-green{
	color:#1abc9c!important
}

.custom-color-black{
	color:black
}

.custom-color-white{
	color:white
}

.custom-color-orange{
	color:#FE8074
}

.custom-bg-transparent{
	background:transparent
}

.custom-list-group-item,
.custom-list-group-item>a{
	background:transparent;
	color:white;
	font-size:14px;
	border-left:none;
	border-right:none;
	border-bottom-right-radius:0!important;
	border-bottom-left-radius:0!important;
	border-top-left-radius:0!important;
	border-top-right-radius:0!important
}

.custom-list-group-item>a:hover{
	color:#1abc9c;
	font-weight:bold;
	text-decoration:none
}

.custom-icon{
	color:#1abc9c;
	margin:0 8px 0 0
}

.custom-little-icon{
	margin:0 6px 0 12px;
}

.custom-nav-panel{
	min-height:760px
}


.custom-panel-green {
  border-color: #1abc9c;
}

.custom-panel-green > .panel-heading {
  color: white;
  font-size:14px;
  padding:1px 6px;
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.custom-panel-green > .panel-heading + .panel-collapse > .panel-body {
  border-top-color:#1abc9c;
}
.custom-panel-green > .panel-heading .badge {
  color: white;
  background-color:#1abc9c;
}
.custom-panel-green > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #1abc9c;
}


/* navbar settings */
.navbar-inverse .navbar-brand {
  color: #fff;
  font-weight:bold;
  padding:10px 0px 6px 18px;
  font-size:26px;
  font-family:Helvetica;
  font-style:italic;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #1abc9c;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-family:Helvetica;
  font-weight:bold;
  font-size:16px
}
.navbar-inverse .navbar-nav > li > a:hover{
  background-color:#1abc9c
}
/* end of navbar settings */

.tmp,
.tmp>p{
	margin:0px 10px;
}